---
- name: "VPN | Keys creation | Ensure {{ user.name }} keys directories"
  file:
    path: /etc/openvpn/client_keys/{{ user.name }}
    state: directory
  tags:
    - create_users
    - openvpn_users

- name: VPN | Keys creation | Generate client certificates
  shell: ". ./vars ; ./build-key --batch {{ user.name }}"
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: "/etc/openvpn/easy-rsa/keys/{{ user.name }}.crt"
  register: user_cert_prefocal
  tags:
    - create_users
    - openvpn_users
  when:
    - ansible_distribution_release|lower != 'focal'

- name: VPN | Keys creation | Generate client certificates
  shell: "./easyrsa --batch build-client-full {{ user.name }} nopass"
  register: user_cert_focal
  args:
    chdir: /etc/openvpn/easy-rsa
    creates: "/etc/openvpn/easy-rsa/pki/private/{{ user.name }}.key"
  when:
    - ansible_distribution_release|lower == 'focal'

- name: VPN | Client config creation | Ensure user ccd file from ip-info block
  copy:
    content: "ifconfig-push {{ user.ip_info }}"
    dest: "{{ client_config_dir_path }}/{{ user.name }}"
    owner: root
    group: root
    mode: 0755
  when: user.ip_info is defined
  tags:
  - create_users
  - openvpn_users

- name: VPN | Client config creation | Ensure user ccd file
  template:
    src: ccd
    dest: "{{ client_config_dir_path }}/{{ user.name }}"
    owner: root
    group: root
    mode: 0755
  when: user.ccd is defined
  tags:
  - create_users
  - openvpn_users

- name: VPN | Client config creation | Register server CA key
  slurp:
    src: "/etc/openvpn/server_keys/ca.crt"
  register: ca_cert
  tags:
    - create_users
    - openvpn_users

- name: VPN | Client config creation | Register tls-auth key
  slurp:
    src: "/etc/openvpn/server_keys/ta.key"
  register: tls_auth
  tags:
    - create_users
    - openvpn_users

- name: VPN | Client config creation | Register client cert
  slurp:
    src: "/etc/openvpn/easy-rsa/keys/{{ user.name }}.crt"
  register: client_cert_prefocal
  tags:
    - create_users
    - openvpn_users
  when:
    - ansible_distribution_release|lower != 'focal'

- name: VPN | Client config creation | Register client cert
  slurp:
    src: "/etc/openvpn/easy-rsa/pki/issued/{{ user.name }}.crt"
  register: client_cert_focal
  tags:
    - create_users
    - openvpn_users
  when:
    - ansible_distribution_release|lower == 'focal'

- name: VPN | Set fact with user cert
  set_fact:
    client_cert: "{% if ansible_distribution_release|lower == 'focal' %}{{ client_cert_focal }}{% else %}{{ client_cert_prefocal }}{% endif %}"

- name: VPN | Client config creation | Register client key
  slurp:
    src: "/etc/openvpn/easy-rsa/keys/{{ user.name }}.key"
  register: client_key_prefocal
  tags:
    - create_users
    - openvpn_users
  when:
    - ansible_distribution_release|lower != 'focal'

- name: VPN | Client config creation | Register client key
  slurp:
    src: "/etc/openvpn/easy-rsa/pki/private/{{ user.name }}.key"
  register: client_key_focal
  tags:
    - create_users
    - openvpn_users
  when:
    - ansible_distribution_release|lower == 'focal'

- name: VPN | Set fact with user key
  set_fact:
    client_key: "{% if ansible_distribution_release|lower == 'focal' %}{{ client_key_focal }}{% else %}{{ client_key_prefocal }}{% endif %}"

- name: VPN | Client config creation | Generate client config
  template:
    src: client.ovpn
    dest: /etc/openvpn/client_keys/{{ user.name }}/{{ user.name }}.ovpn
    owner: root
    group: root
    mode: 0400
  tags:
    - create_users
    - openvpn_users

- name: VPN | Client config creation | Fetch client config to localhost
  fetch:
    src: /etc/openvpn/client_keys/{{ user.name }}/{{ user.name }}.ovpn
    dest: /tmp/{{ cert_prefix }}{{ user.name }}.ovpn
    flat: yes
  when: user_cert_prefocal.changed or user_cert_focal.changed
  tags:
    - create_users
    - openvpn_users

- name: VPN | Client config creation | Ensure user 2fa configuration
  become: yes
  become_user: root
  shell:
    cmd: |
      google-authenticator -t -s {{ user.name }} -f -Q UTF8 -d -w 1 -r 3 -R 30
    creates: "{{ client_2fa_dir_path }}/{{ user.name }}"
  register: info_2fa
  when:
    - enable_2fa
    - ansible_distribution_release == 'xenial'
  args:
    chdir: "{{ client_2fa_dir_path }}"
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Ensure user 2fa configuration
  become: yes
  become_user: root
  shell:
    cmd: |
      google-authenticator -t -s {{ user.name }} -f -Q UTF8 -d -w 1 -r 3 -R 30 -l {{ user.name }} -i "{{ client_2fa_server_description }}"
    creates: "{{ client_2fa_dir_path }}/{{ user.name }}"
  register: info_2fa
  when:
    - enable_2fa
    - ansible_distribution_release != 'xenial'
  args:
    chdir: "{{ client_2fa_dir_path }}"
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Ensure 2fa info for user
  become: yes
  become_user: root
  copy:
    dest: "{{ client_2fa_dir_path }}/{{ user.name }}.2fa_info"
    content: |
      These are values to ensure your 2FA settings for given OpenVPN config file:

        QR code link: {{ info_2fa.stdout_lines[0] | regex_replace('^(.*)root@.*(%3Fsecret.*)$', '\1' + client_2fa_server_description | urlencode + '%20(' + user.name + ')\2') }}
        {% for line in info_2fa.stdout_lines[1:] %}
        {{ line }}
        {% endfor %}
  when:
    - enable_2fa
    - info_2fa.changed
    - ansible_distribution_release == 'xenial'
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Ensure 2fa info for user
  become: yes
  become_user: root
  copy:
    dest: "{{ client_2fa_dir_path }}/{{ user.name }}.2fa_info"
    content: |
      These are values to ensure your 2FA settings for given OpenVPN config file:
      {{ info_2fa.stdout }}
  when:
    - enable_2fa
    - info_2fa.changed
    - ansible_distribution_release != 'xenial'
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Fetch client config to localhost
  fetch:
    src: "{{ client_2fa_dir_path }}/{{ user.name }}.2fa_info"
    dest: /tmp/{{ cert_prefix }}{{ user.name }}.2fa_info
    flat: yes
  when: info_2fa.changed
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Ensure proper permissions on the 2fa files
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: 0400
  when: enable_2fa
  with_items:
    - "{{ client_2fa_dir_path }}/{{ user.name }}"
    - "{{ client_2fa_dir_path }}/{{ user.name }}.2fa_info"
  tags:
  - create_users
  - openvpn_users
  - 2fa

- name: VPN | Client config creation | Send config to user email
  mail:
    host: "{{ mail.host }}"
    port: "{{ mail.port }}"
    username: "{{ mail.user }}"
    sender: "{{ mail.user }}"
    password: "{{ mail.secret }}"
    to: "{{ user.email }}"
    subject: "{{ mail.subject }}"
    body: "{{ mail.body }}"
    attach: ["/etc/openvpn/client_keys/{{ user.name }}/{{ user.name }}.ovpn"]
  when: user.email is defined and mail.host is defined and (user_cert_prefocal.changed or user_cert_focal.changed)
  failed_when: False
  tags:
    - create_users
    - openvpn_users
    - send_mails
